/* styles.css */

.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #002855;
    color: white;
    font-size: 24px;
    border-bottom: 5px solid #fff;
}

.download-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.icons {
    display: flex;
    gap: 20px;
}

.pdf-viewer {
    padding: 20px;
    background-color: #e6e6e6;
}

embed {
    border: 2px solid #002855;
    border-radius: 10px;
}
.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 80% !important;
    height: 100% !important;
}