.myAppBar {
    background-color: #7B6BDC !important;
  }
  
  .myTypography {
    color: #000 !important;
  }
  
  .flex-between {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .menu-items {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .link {
    cursor: pointer;
  }
  .link:hover{
    color: blue;
  }